/* line 4, ../sass/jgrid.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 61, ../sass/jgrid.scss */
.grid {
  font-size: 0;
  line-height: 0;
  text-align: justify;
  text-justify: distribute-all-lines;
  padding: 0 24px;
  margin: 0 auto;
  max-width: 888px;
}
/* line 70, ../sass/jgrid.scss */
.grid:after {
  content: '';
  display: inline-block;
  width: 100%;
}
@media only screen {
  /* line 61, ../sass/jgrid.scss */
  .grid {
    max-width: 456px;
  }
}
@media only screen and (min-width: 600px) {
  /* line 61, ../sass/jgrid.scss */
  .grid {
    max-width: 600px;
  }
}
@media only screen and (min-width: 888px) {
  /* line 61, ../sass/jgrid.scss */
  .grid {
    max-width: 888px;
  }
}
@media only screen and (min-width: 1320px) {
  /* line 61, ../sass/jgrid.scss */
  .grid {
    max-width: 1320px;
  }
}

/* line 101, ../sass/jgrid.scss */
.grid.fluid {
  max-width: 100%;
}

/* line 106, ../sass/jgrid.scss */
.grid.no-padding {
  padding: 0;
}

/* line 112, ../sass/jgrid.scss */
.col-1 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 5.71429%;
}

/* line 112, ../sass/jgrid.scss */
.col-2 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 14.28571%;
}

/* line 112, ../sass/jgrid.scss */
.col-3 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 22.85714%;
}

/* line 112, ../sass/jgrid.scss */
.col-4 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 31.42857%;
}

/* line 112, ../sass/jgrid.scss */
.col-5 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 40%;
}

/* line 112, ../sass/jgrid.scss */
.col-6 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 48.57143%;
}

/* line 112, ../sass/jgrid.scss */
.col-7 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 57.14286%;
}

/* line 112, ../sass/jgrid.scss */
.col-8 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 65.71429%;
}

/* line 112, ../sass/jgrid.scss */
.col-9 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 74.28571%;
}

/* line 112, ../sass/jgrid.scss */
.col-10 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 82.85714%;
}

/* line 112, ../sass/jgrid.scss */
.col-11 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 91.42857%;
}

/* line 112, ../sass/jgrid.scss */
.col-12 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

/* line 115, ../sass/jgrid.scss */
.prepend-1 {
  margin-left: 8.57143%;
}

/* line 116, ../sass/jgrid.scss */
.append-1 {
  margin-right: 8.57143%;
}

/* line 115, ../sass/jgrid.scss */
.prepend-2 {
  margin-left: 17.14286%;
}

/* line 116, ../sass/jgrid.scss */
.append-2 {
  margin-right: 17.14286%;
}

/* line 115, ../sass/jgrid.scss */
.prepend-3 {
  margin-left: 25.71429%;
}

/* line 116, ../sass/jgrid.scss */
.append-3 {
  margin-right: 25.71429%;
}

/* line 115, ../sass/jgrid.scss */
.prepend-4 {
  margin-left: 34.28571%;
}

/* line 116, ../sass/jgrid.scss */
.append-4 {
  margin-right: 34.28571%;
}

/* line 115, ../sass/jgrid.scss */
.prepend-5 {
  margin-left: 42.85714%;
}

/* line 116, ../sass/jgrid.scss */
.append-5 {
  margin-right: 42.85714%;
}

/* line 115, ../sass/jgrid.scss */
.prepend-6 {
  margin-left: 51.42857%;
}

/* line 116, ../sass/jgrid.scss */
.append-6 {
  margin-right: 51.42857%;
}

/* line 115, ../sass/jgrid.scss */
.prepend-7 {
  margin-left: 60%;
}

/* line 116, ../sass/jgrid.scss */
.append-7 {
  margin-right: 60%;
}

/* line 115, ../sass/jgrid.scss */
.prepend-8 {
  margin-left: 68.57143%;
}

/* line 116, ../sass/jgrid.scss */
.append-8 {
  margin-right: 68.57143%;
}

/* line 115, ../sass/jgrid.scss */
.prepend-9 {
  margin-left: 77.14286%;
}

/* line 116, ../sass/jgrid.scss */
.append-9 {
  margin-right: 77.14286%;
}

/* line 115, ../sass/jgrid.scss */
.prepend-10 {
  margin-left: 85.71429%;
}

/* line 116, ../sass/jgrid.scss */
.append-10 {
  margin-right: 85.71429%;
}

/* line 115, ../sass/jgrid.scss */
.prepend-11 {
  margin-left: 94.28571%;
}

/* line 116, ../sass/jgrid.scss */
.append-11 {
  margin-right: 94.28571%;
}

/* line 115, ../sass/jgrid.scss */
.prepend-12 {
  margin-left: 102.85714%;
}

/* line 116, ../sass/jgrid.scss */
.append-12 {
  margin-right: 102.85714%;
}

@media only screen {
  /* line 123, ../sass/jgrid.scss */
  .mobile-1 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 11.76471%;
  }

  /* line 123, ../sass/jgrid.scss */
  .mobile-2 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 29.41176%;
  }

  /* line 123, ../sass/jgrid.scss */
  .mobile-3 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 47.05882%;
  }

  /* line 123, ../sass/jgrid.scss */
  .mobile-4 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 64.70588%;
  }

  /* line 123, ../sass/jgrid.scss */
  .mobile-5 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 82.35294%;
  }

  /* line 123, ../sass/jgrid.scss */
  .mobile-6 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }

  /* line 127, ../sass/jgrid.scss */
  .mobile-prepend-1 {
    margin-left: 17.64706%;
  }

  /* line 128, ../sass/jgrid.scss */
  .mobile-append-1 {
    margin-right: 17.64706%;
  }

  /* line 127, ../sass/jgrid.scss */
  .mobile-prepend-2 {
    margin-left: 35.29412%;
  }

  /* line 128, ../sass/jgrid.scss */
  .mobile-append-2 {
    margin-right: 35.29412%;
  }

  /* line 127, ../sass/jgrid.scss */
  .mobile-prepend-3 {
    margin-left: 52.94118%;
  }

  /* line 128, ../sass/jgrid.scss */
  .mobile-append-3 {
    margin-right: 52.94118%;
  }

  /* line 127, ../sass/jgrid.scss */
  .mobile-prepend-4 {
    margin-left: 70.58824%;
  }

  /* line 128, ../sass/jgrid.scss */
  .mobile-append-4 {
    margin-right: 70.58824%;
  }

  /* line 127, ../sass/jgrid.scss */
  .mobile-prepend-5 {
    margin-left: 88.23529%;
  }

  /* line 128, ../sass/jgrid.scss */
  .mobile-append-5 {
    margin-right: 88.23529%;
  }

  /* line 127, ../sass/jgrid.scss */
  .mobile-prepend-6 {
    margin-left: 105.88235%;
  }

  /* line 128, ../sass/jgrid.scss */
  .mobile-append-6 {
    margin-right: 105.88235%;
  }
}
@media only screen and (min-width: 600px) {
  /* line 136, ../sass/jgrid.scss */
  .tablet-1 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 8.69565%;
  }

  /* line 136, ../sass/jgrid.scss */
  .tablet-2 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 21.73913%;
  }

  /* line 136, ../sass/jgrid.scss */
  .tablet-3 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 34.78261%;
  }

  /* line 136, ../sass/jgrid.scss */
  .tablet-4 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 47.82609%;
  }

  /* line 136, ../sass/jgrid.scss */
  .tablet-5 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 60.86957%;
  }

  /* line 136, ../sass/jgrid.scss */
  .tablet-6 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 73.91304%;
  }

  /* line 136, ../sass/jgrid.scss */
  .tablet-7 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 86.95652%;
  }

  /* line 136, ../sass/jgrid.scss */
  .tablet-8 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }

  /* line 139, ../sass/jgrid.scss */
  .tablet-prepend-1 {
    margin-left: 13.04348%;
  }

  /* line 140, ../sass/jgrid.scss */
  .tablet-append-1 {
    margin-right: 13.04348%;
  }

  /* line 139, ../sass/jgrid.scss */
  .tablet-prepend-2 {
    margin-left: 26.08696%;
  }

  /* line 140, ../sass/jgrid.scss */
  .tablet-append-2 {
    margin-right: 26.08696%;
  }

  /* line 139, ../sass/jgrid.scss */
  .tablet-prepend-3 {
    margin-left: 39.13043%;
  }

  /* line 140, ../sass/jgrid.scss */
  .tablet-append-3 {
    margin-right: 39.13043%;
  }

  /* line 139, ../sass/jgrid.scss */
  .tablet-prepend-4 {
    margin-left: 52.17391%;
  }

  /* line 140, ../sass/jgrid.scss */
  .tablet-append-4 {
    margin-right: 52.17391%;
  }

  /* line 139, ../sass/jgrid.scss */
  .tablet-prepend-5 {
    margin-left: 65.21739%;
  }

  /* line 140, ../sass/jgrid.scss */
  .tablet-append-5 {
    margin-right: 65.21739%;
  }

  /* line 139, ../sass/jgrid.scss */
  .tablet-prepend-6 {
    margin-left: 78.26087%;
  }

  /* line 140, ../sass/jgrid.scss */
  .tablet-append-6 {
    margin-right: 78.26087%;
  }

  /* line 139, ../sass/jgrid.scss */
  .tablet-prepend-7 {
    margin-left: 91.30435%;
  }

  /* line 140, ../sass/jgrid.scss */
  .tablet-append-7 {
    margin-right: 91.30435%;
  }

  /* line 139, ../sass/jgrid.scss */
  .tablet-prepend-8 {
    margin-left: 104.34783%;
  }

  /* line 140, ../sass/jgrid.scss */
  .tablet-append-8 {
    margin-right: 104.34783%;
  }
}
@media only screen and (min-width: 888px) {
  /* line 147, ../sass/jgrid.scss */
  .col-1 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 5.71429%;
  }

  /* line 147, ../sass/jgrid.scss */
  .col-2 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 14.28571%;
  }

  /* line 147, ../sass/jgrid.scss */
  .col-3 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 22.85714%;
  }

  /* line 147, ../sass/jgrid.scss */
  .col-4 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 31.42857%;
  }

  /* line 147, ../sass/jgrid.scss */
  .col-5 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 40%;
  }

  /* line 147, ../sass/jgrid.scss */
  .col-6 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 48.57143%;
  }

  /* line 147, ../sass/jgrid.scss */
  .col-7 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 57.14286%;
  }

  /* line 147, ../sass/jgrid.scss */
  .col-8 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 65.71429%;
  }

  /* line 147, ../sass/jgrid.scss */
  .col-9 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 74.28571%;
  }

  /* line 147, ../sass/jgrid.scss */
  .col-10 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 82.85714%;
  }

  /* line 147, ../sass/jgrid.scss */
  .col-11 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 91.42857%;
  }

  /* line 147, ../sass/jgrid.scss */
  .col-12 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }

  /* line 150, ../sass/jgrid.scss */
  .prepend-1 {
    margin-left: 8.57143%;
  }

  /* line 151, ../sass/jgrid.scss */
  .append-1 {
    margin-right: 8.57143%;
  }

  /* line 150, ../sass/jgrid.scss */
  .prepend-2 {
    margin-left: 17.14286%;
  }

  /* line 151, ../sass/jgrid.scss */
  .append-2 {
    margin-right: 17.14286%;
  }

  /* line 150, ../sass/jgrid.scss */
  .prepend-3 {
    margin-left: 25.71429%;
  }

  /* line 151, ../sass/jgrid.scss */
  .append-3 {
    margin-right: 25.71429%;
  }

  /* line 150, ../sass/jgrid.scss */
  .prepend-4 {
    margin-left: 34.28571%;
  }

  /* line 151, ../sass/jgrid.scss */
  .append-4 {
    margin-right: 34.28571%;
  }

  /* line 150, ../sass/jgrid.scss */
  .prepend-5 {
    margin-left: 42.85714%;
  }

  /* line 151, ../sass/jgrid.scss */
  .append-5 {
    margin-right: 42.85714%;
  }

  /* line 150, ../sass/jgrid.scss */
  .prepend-6 {
    margin-left: 51.42857%;
  }

  /* line 151, ../sass/jgrid.scss */
  .append-6 {
    margin-right: 51.42857%;
  }

  /* line 150, ../sass/jgrid.scss */
  .prepend-7 {
    margin-left: 60%;
  }

  /* line 151, ../sass/jgrid.scss */
  .append-7 {
    margin-right: 60%;
  }

  /* line 150, ../sass/jgrid.scss */
  .prepend-8 {
    margin-left: 68.57143%;
  }

  /* line 151, ../sass/jgrid.scss */
  .append-8 {
    margin-right: 68.57143%;
  }

  /* line 150, ../sass/jgrid.scss */
  .prepend-9 {
    margin-left: 77.14286%;
  }

  /* line 151, ../sass/jgrid.scss */
  .append-9 {
    margin-right: 77.14286%;
  }

  /* line 150, ../sass/jgrid.scss */
  .prepend-10 {
    margin-left: 85.71429%;
  }

  /* line 151, ../sass/jgrid.scss */
  .append-10 {
    margin-right: 85.71429%;
  }

  /* line 150, ../sass/jgrid.scss */
  .prepend-11 {
    margin-left: 94.28571%;
  }

  /* line 151, ../sass/jgrid.scss */
  .append-11 {
    margin-right: 94.28571%;
  }

  /* line 150, ../sass/jgrid.scss */
  .prepend-12 {
    margin-left: 102.85714%;
  }

  /* line 151, ../sass/jgrid.scss */
  .append-12 {
    margin-right: 102.85714%;
  }
}
@media only screen and (min-width: 1320px) {
  /* line 158, ../sass/jgrid.scss */
  .large-1 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 3.77358%;
  }

  /* line 158, ../sass/jgrid.scss */
  .large-2 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 9.43396%;
  }

  /* line 158, ../sass/jgrid.scss */
  .large-3 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 15.09434%;
  }

  /* line 158, ../sass/jgrid.scss */
  .large-4 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 20.75472%;
  }

  /* line 158, ../sass/jgrid.scss */
  .large-5 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 26.41509%;
  }

  /* line 158, ../sass/jgrid.scss */
  .large-6 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 32.07547%;
  }

  /* line 158, ../sass/jgrid.scss */
  .large-7 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 37.73585%;
  }

  /* line 158, ../sass/jgrid.scss */
  .large-8 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 43.39623%;
  }

  /* line 158, ../sass/jgrid.scss */
  .large-9 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 49.0566%;
  }

  /* line 158, ../sass/jgrid.scss */
  .large-10 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 54.71698%;
  }

  /* line 158, ../sass/jgrid.scss */
  .large-11 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 60.37736%;
  }

  /* line 158, ../sass/jgrid.scss */
  .large-12 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 66.03774%;
  }

  /* line 158, ../sass/jgrid.scss */
  .large-13 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 71.69811%;
  }

  /* line 158, ../sass/jgrid.scss */
  .large-14 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 77.35849%;
  }

  /* line 158, ../sass/jgrid.scss */
  .large-15 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 83.01887%;
  }

  /* line 158, ../sass/jgrid.scss */
  .large-16 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 88.67925%;
  }

  /* line 158, ../sass/jgrid.scss */
  .large-17 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 94.33962%;
  }

  /* line 158, ../sass/jgrid.scss */
  .large-18 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-1 {
    margin-left: 5.66038%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-1 {
    margin-right: 5.66038%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-2 {
    margin-left: 11.32075%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-2 {
    margin-right: 11.32075%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-3 {
    margin-left: 16.98113%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-3 {
    margin-right: 16.98113%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-4 {
    margin-left: 22.64151%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-4 {
    margin-right: 22.64151%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-5 {
    margin-left: 28.30189%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-5 {
    margin-right: 28.30189%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-6 {
    margin-left: 33.96226%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-6 {
    margin-right: 33.96226%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-7 {
    margin-left: 39.62264%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-7 {
    margin-right: 39.62264%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-8 {
    margin-left: 45.28302%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-8 {
    margin-right: 45.28302%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-9 {
    margin-left: 50.9434%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-9 {
    margin-right: 50.9434%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-10 {
    margin-left: 56.60377%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-10 {
    margin-right: 56.60377%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-11 {
    margin-left: 62.26415%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-11 {
    margin-right: 62.26415%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-12 {
    margin-left: 67.92453%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-12 {
    margin-right: 67.92453%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-13 {
    margin-left: 73.58491%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-13 {
    margin-right: 73.58491%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-14 {
    margin-left: 79.24528%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-14 {
    margin-right: 79.24528%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-15 {
    margin-left: 84.90566%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-15 {
    margin-right: 84.90566%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-16 {
    margin-left: 90.56604%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-16 {
    margin-right: 90.56604%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-17 {
    margin-left: 96.22642%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-17 {
    margin-right: 96.22642%;
  }

  /* line 161, ../sass/jgrid.scss */
  .large-prepend-18 {
    margin-left: 101.88679%;
  }

  /* line 162, ../sass/jgrid.scss */
  .large-append-18 {
    margin-right: 101.88679%;
  }
}
