/* line 4, ../sass/jgrid.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 71, ../sass/jgrid.scss */
.grid-fluid, .grid {
  font-size: 0;
  line-height: 0;
  text-align: justify;
  text-justify: distribute-all-lines;
  padding: 0 24px;
  margin: 0 auto;
}
/* line 79, ../sass/jgrid.scss */
.grid-fluid:after, .grid:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* line 87, ../sass/jgrid.scss */
.grid {
  max-width: 888px;
}
@media only screen {
  /* line 87, ../sass/jgrid.scss */
  .grid {
    max-width: 456px;
  }
}
@media only screen and (min-width: 888px) {
  /* line 87, ../sass/jgrid.scss */
  .grid {
    max-width: 888px;
  }
}
@media only screen and (min-width: 1176px) {
  /* line 87, ../sass/jgrid.scss */
  .grid {
    max-width: 1176px;
  }
}
@media only screen and (min-width: 1320px) {
  /* line 87, ../sass/jgrid.scss */
  .grid {
    max-width: 1320px;
  }
}

/* line 117, ../sass/jgrid.scss */
.fallback-1 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 5.71429%;
}

/* line 117, ../sass/jgrid.scss */
.fallback-2 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 14.28571%;
}

/* line 117, ../sass/jgrid.scss */
.fallback-3 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 22.85714%;
}

/* line 117, ../sass/jgrid.scss */
.fallback-4 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 31.42857%;
}

/* line 117, ../sass/jgrid.scss */
.fallback-5 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 40%;
}

/* line 117, ../sass/jgrid.scss */
.fallback-6 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 48.57143%;
}

/* line 117, ../sass/jgrid.scss */
.fallback-7 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 57.14286%;
}

/* line 117, ../sass/jgrid.scss */
.fallback-8 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 65.71429%;
}

/* line 117, ../sass/jgrid.scss */
.fallback-9 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 74.28571%;
}

/* line 117, ../sass/jgrid.scss */
.fallback-10 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 82.85714%;
}

/* line 117, ../sass/jgrid.scss */
.fallback-11 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 91.42857%;
}

/* line 117, ../sass/jgrid.scss */
.fallback-12 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-justify: auto;
  font-size: 16px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

/* line 121, ../sass/jgrid.scss */
.fallback-prepend-1 {
  margin-left: 8.57143%;
}

/* line 122, ../sass/jgrid.scss */
.fallback-append-1 {
  margin-right: 8.57143%;
}

/* line 121, ../sass/jgrid.scss */
.fallback-prepend-2 {
  margin-left: 17.14286%;
}

/* line 122, ../sass/jgrid.scss */
.fallback-append-2 {
  margin-right: 17.14286%;
}

/* line 121, ../sass/jgrid.scss */
.fallback-prepend-3 {
  margin-left: 25.71429%;
}

/* line 122, ../sass/jgrid.scss */
.fallback-append-3 {
  margin-right: 25.71429%;
}

/* line 121, ../sass/jgrid.scss */
.fallback-prepend-4 {
  margin-left: 34.28571%;
}

/* line 122, ../sass/jgrid.scss */
.fallback-append-4 {
  margin-right: 34.28571%;
}

/* line 121, ../sass/jgrid.scss */
.fallback-prepend-5 {
  margin-left: 42.85714%;
}

/* line 122, ../sass/jgrid.scss */
.fallback-append-5 {
  margin-right: 42.85714%;
}

/* line 121, ../sass/jgrid.scss */
.fallback-prepend-6 {
  margin-left: 51.42857%;
}

/* line 122, ../sass/jgrid.scss */
.fallback-append-6 {
  margin-right: 51.42857%;
}

/* line 121, ../sass/jgrid.scss */
.fallback-prepend-7 {
  margin-left: 60%;
}

/* line 122, ../sass/jgrid.scss */
.fallback-append-7 {
  margin-right: 60%;
}

/* line 121, ../sass/jgrid.scss */
.fallback-prepend-8 {
  margin-left: 68.57143%;
}

/* line 122, ../sass/jgrid.scss */
.fallback-append-8 {
  margin-right: 68.57143%;
}

/* line 121, ../sass/jgrid.scss */
.fallback-prepend-9 {
  margin-left: 77.14286%;
}

/* line 122, ../sass/jgrid.scss */
.fallback-append-9 {
  margin-right: 77.14286%;
}

/* line 121, ../sass/jgrid.scss */
.fallback-prepend-10 {
  margin-left: 85.71429%;
}

/* line 122, ../sass/jgrid.scss */
.fallback-append-10 {
  margin-right: 85.71429%;
}

/* line 121, ../sass/jgrid.scss */
.fallback-prepend-11 {
  margin-left: 94.28571%;
}

/* line 122, ../sass/jgrid.scss */
.fallback-append-11 {
  margin-right: 94.28571%;
}

/* line 121, ../sass/jgrid.scss */
.fallback-prepend-12 {
  margin-left: 102.85714%;
}

/* line 122, ../sass/jgrid.scss */
.fallback-append-12 {
  margin-right: 102.85714%;
}

/* line 125, ../sass/jgrid.scss */
.fallback-hidden {
  display: none;
}

@media only screen {
  /* line 133, ../sass/jgrid.scss */
  .mobile-1 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 11.76471%;
  }

  /* line 133, ../sass/jgrid.scss */
  .mobile-2 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 29.41176%;
  }

  /* line 133, ../sass/jgrid.scss */
  .mobile-3 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 47.05882%;
  }

  /* line 133, ../sass/jgrid.scss */
  .mobile-4 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 64.70588%;
  }

  /* line 133, ../sass/jgrid.scss */
  .mobile-5 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 82.35294%;
  }

  /* line 133, ../sass/jgrid.scss */
  .mobile-6 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }

  /* line 137, ../sass/jgrid.scss */
  .mobile-prepend-1 {
    margin-left: 17.64706%;
  }

  /* line 138, ../sass/jgrid.scss */
  .mobile-append-1 {
    margin-right: 17.64706%;
  }

  /* line 137, ../sass/jgrid.scss */
  .mobile-prepend-2 {
    margin-left: 35.29412%;
  }

  /* line 138, ../sass/jgrid.scss */
  .mobile-append-2 {
    margin-right: 35.29412%;
  }

  /* line 137, ../sass/jgrid.scss */
  .mobile-prepend-3 {
    margin-left: 52.94118%;
  }

  /* line 138, ../sass/jgrid.scss */
  .mobile-append-3 {
    margin-right: 52.94118%;
  }

  /* line 137, ../sass/jgrid.scss */
  .mobile-prepend-4 {
    margin-left: 70.58824%;
  }

  /* line 138, ../sass/jgrid.scss */
  .mobile-append-4 {
    margin-right: 70.58824%;
  }

  /* line 137, ../sass/jgrid.scss */
  .mobile-prepend-5 {
    margin-left: 88.23529%;
  }

  /* line 138, ../sass/jgrid.scss */
  .mobile-append-5 {
    margin-right: 88.23529%;
  }

  /* line 137, ../sass/jgrid.scss */
  .mobile-prepend-6 {
    margin-left: 105.88235%;
  }

  /* line 138, ../sass/jgrid.scss */
  .mobile-append-6 {
    margin-right: 105.88235%;
  }
}
/* line 144, ../sass/jgrid.scss */
.mobile-hidden,
.tablet-hidden,
.desktop-hidden {
  display: none;
}

@media only screen and (min-width: 888px) {
  /* line 152, ../sass/jgrid.scss */
  .tablet-1 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 5.71429%;
  }

  /* line 152, ../sass/jgrid.scss */
  .tablet-2 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 14.28571%;
  }

  /* line 152, ../sass/jgrid.scss */
  .tablet-3 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 22.85714%;
  }

  /* line 152, ../sass/jgrid.scss */
  .tablet-4 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 31.42857%;
  }

  /* line 152, ../sass/jgrid.scss */
  .tablet-5 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 40%;
  }

  /* line 152, ../sass/jgrid.scss */
  .tablet-6 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 48.57143%;
  }

  /* line 152, ../sass/jgrid.scss */
  .tablet-7 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 57.14286%;
  }

  /* line 152, ../sass/jgrid.scss */
  .tablet-8 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 65.71429%;
  }

  /* line 152, ../sass/jgrid.scss */
  .tablet-9 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 74.28571%;
  }

  /* line 152, ../sass/jgrid.scss */
  .tablet-10 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 82.85714%;
  }

  /* line 152, ../sass/jgrid.scss */
  .tablet-11 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 91.42857%;
  }

  /* line 152, ../sass/jgrid.scss */
  .tablet-12 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }

  /* line 155, ../sass/jgrid.scss */
  .tablet-prepend-1 {
    margin-left: 8.57143%;
  }

  /* line 156, ../sass/jgrid.scss */
  .tablet-append-1 {
    margin-right: 8.57143%;
  }

  /* line 155, ../sass/jgrid.scss */
  .tablet-prepend-2 {
    margin-left: 17.14286%;
  }

  /* line 156, ../sass/jgrid.scss */
  .tablet-append-2 {
    margin-right: 17.14286%;
  }

  /* line 155, ../sass/jgrid.scss */
  .tablet-prepend-3 {
    margin-left: 25.71429%;
  }

  /* line 156, ../sass/jgrid.scss */
  .tablet-append-3 {
    margin-right: 25.71429%;
  }

  /* line 155, ../sass/jgrid.scss */
  .tablet-prepend-4 {
    margin-left: 34.28571%;
  }

  /* line 156, ../sass/jgrid.scss */
  .tablet-append-4 {
    margin-right: 34.28571%;
  }

  /* line 155, ../sass/jgrid.scss */
  .tablet-prepend-5 {
    margin-left: 42.85714%;
  }

  /* line 156, ../sass/jgrid.scss */
  .tablet-append-5 {
    margin-right: 42.85714%;
  }

  /* line 155, ../sass/jgrid.scss */
  .tablet-prepend-6 {
    margin-left: 51.42857%;
  }

  /* line 156, ../sass/jgrid.scss */
  .tablet-append-6 {
    margin-right: 51.42857%;
  }

  /* line 155, ../sass/jgrid.scss */
  .tablet-prepend-7 {
    margin-left: 60%;
  }

  /* line 156, ../sass/jgrid.scss */
  .tablet-append-7 {
    margin-right: 60%;
  }

  /* line 155, ../sass/jgrid.scss */
  .tablet-prepend-8 {
    margin-left: 68.57143%;
  }

  /* line 156, ../sass/jgrid.scss */
  .tablet-append-8 {
    margin-right: 68.57143%;
  }

  /* line 155, ../sass/jgrid.scss */
  .tablet-prepend-9 {
    margin-left: 77.14286%;
  }

  /* line 156, ../sass/jgrid.scss */
  .tablet-append-9 {
    margin-right: 77.14286%;
  }

  /* line 155, ../sass/jgrid.scss */
  .tablet-prepend-10 {
    margin-left: 85.71429%;
  }

  /* line 156, ../sass/jgrid.scss */
  .tablet-append-10 {
    margin-right: 85.71429%;
  }

  /* line 155, ../sass/jgrid.scss */
  .tablet-prepend-11 {
    margin-left: 94.28571%;
  }

  /* line 156, ../sass/jgrid.scss */
  .tablet-append-11 {
    margin-right: 94.28571%;
  }

  /* line 155, ../sass/jgrid.scss */
  .tablet-prepend-12 {
    margin-left: 102.85714%;
  }

  /* line 156, ../sass/jgrid.scss */
  .tablet-append-12 {
    margin-right: 102.85714%;
  }

  /* line 158, ../sass/jgrid.scss */
  .mobile-hidden {
    display: inline-block;
  }
}
@media only screen and (min-width: 1176px) {
  /* line 165, ../sass/jgrid.scss */
  .desktop-1 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 4.25532%;
  }

  /* line 165, ../sass/jgrid.scss */
  .desktop-2 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 10.6383%;
  }

  /* line 165, ../sass/jgrid.scss */
  .desktop-3 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 17.02128%;
  }

  /* line 165, ../sass/jgrid.scss */
  .desktop-4 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 23.40426%;
  }

  /* line 165, ../sass/jgrid.scss */
  .desktop-5 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 29.78723%;
  }

  /* line 165, ../sass/jgrid.scss */
  .desktop-6 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 36.17021%;
  }

  /* line 165, ../sass/jgrid.scss */
  .desktop-7 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 42.55319%;
  }

  /* line 165, ../sass/jgrid.scss */
  .desktop-8 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 48.93617%;
  }

  /* line 165, ../sass/jgrid.scss */
  .desktop-9 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 55.31915%;
  }

  /* line 165, ../sass/jgrid.scss */
  .desktop-10 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 61.70213%;
  }

  /* line 165, ../sass/jgrid.scss */
  .desktop-11 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 68.08511%;
  }

  /* line 165, ../sass/jgrid.scss */
  .desktop-12 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 74.46809%;
  }

  /* line 165, ../sass/jgrid.scss */
  .desktop-13 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 80.85106%;
  }

  /* line 165, ../sass/jgrid.scss */
  .desktop-14 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 87.23404%;
  }

  /* line 165, ../sass/jgrid.scss */
  .desktop-15 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 93.61702%;
  }

  /* line 165, ../sass/jgrid.scss */
  .desktop-16 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }

  /* line 168, ../sass/jgrid.scss */
  .desktop-prepend-1 {
    margin-left: 6.38298%;
  }

  /* line 169, ../sass/jgrid.scss */
  .desktop-append-1 {
    margin-right: 6.38298%;
  }

  /* line 168, ../sass/jgrid.scss */
  .desktop-prepend-2 {
    margin-left: 12.76596%;
  }

  /* line 169, ../sass/jgrid.scss */
  .desktop-append-2 {
    margin-right: 12.76596%;
  }

  /* line 168, ../sass/jgrid.scss */
  .desktop-prepend-3 {
    margin-left: 19.14894%;
  }

  /* line 169, ../sass/jgrid.scss */
  .desktop-append-3 {
    margin-right: 19.14894%;
  }

  /* line 168, ../sass/jgrid.scss */
  .desktop-prepend-4 {
    margin-left: 25.53191%;
  }

  /* line 169, ../sass/jgrid.scss */
  .desktop-append-4 {
    margin-right: 25.53191%;
  }

  /* line 168, ../sass/jgrid.scss */
  .desktop-prepend-5 {
    margin-left: 31.91489%;
  }

  /* line 169, ../sass/jgrid.scss */
  .desktop-append-5 {
    margin-right: 31.91489%;
  }

  /* line 168, ../sass/jgrid.scss */
  .desktop-prepend-6 {
    margin-left: 38.29787%;
  }

  /* line 169, ../sass/jgrid.scss */
  .desktop-append-6 {
    margin-right: 38.29787%;
  }

  /* line 168, ../sass/jgrid.scss */
  .desktop-prepend-7 {
    margin-left: 44.68085%;
  }

  /* line 169, ../sass/jgrid.scss */
  .desktop-append-7 {
    margin-right: 44.68085%;
  }

  /* line 168, ../sass/jgrid.scss */
  .desktop-prepend-8 {
    margin-left: 51.06383%;
  }

  /* line 169, ../sass/jgrid.scss */
  .desktop-append-8 {
    margin-right: 51.06383%;
  }

  /* line 168, ../sass/jgrid.scss */
  .desktop-prepend-9 {
    margin-left: 57.44681%;
  }

  /* line 169, ../sass/jgrid.scss */
  .desktop-append-9 {
    margin-right: 57.44681%;
  }

  /* line 168, ../sass/jgrid.scss */
  .desktop-prepend-10 {
    margin-left: 63.82979%;
  }

  /* line 169, ../sass/jgrid.scss */
  .desktop-append-10 {
    margin-right: 63.82979%;
  }

  /* line 168, ../sass/jgrid.scss */
  .desktop-prepend-11 {
    margin-left: 70.21277%;
  }

  /* line 169, ../sass/jgrid.scss */
  .desktop-append-11 {
    margin-right: 70.21277%;
  }

  /* line 168, ../sass/jgrid.scss */
  .desktop-prepend-12 {
    margin-left: 76.59574%;
  }

  /* line 169, ../sass/jgrid.scss */
  .desktop-append-12 {
    margin-right: 76.59574%;
  }

  /* line 168, ../sass/jgrid.scss */
  .desktop-prepend-13 {
    margin-left: 82.97872%;
  }

  /* line 169, ../sass/jgrid.scss */
  .desktop-append-13 {
    margin-right: 82.97872%;
  }

  /* line 168, ../sass/jgrid.scss */
  .desktop-prepend-14 {
    margin-left: 89.3617%;
  }

  /* line 169, ../sass/jgrid.scss */
  .desktop-append-14 {
    margin-right: 89.3617%;
  }

  /* line 168, ../sass/jgrid.scss */
  .desktop-prepend-15 {
    margin-left: 95.74468%;
  }

  /* line 169, ../sass/jgrid.scss */
  .desktop-append-15 {
    margin-right: 95.74468%;
  }

  /* line 168, ../sass/jgrid.scss */
  .desktop-prepend-16 {
    margin-left: 102.12766%;
  }

  /* line 169, ../sass/jgrid.scss */
  .desktop-append-16 {
    margin-right: 102.12766%;
  }

  /* line 171, ../sass/jgrid.scss */
  .tablet-hidden {
    display: inline-block;
  }
}
@media only screen and (min-width: 1320px) {
  /* line 178, ../sass/jgrid.scss */
  .large-1 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 3.77358%;
  }

  /* line 178, ../sass/jgrid.scss */
  .large-2 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 9.43396%;
  }

  /* line 178, ../sass/jgrid.scss */
  .large-3 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 15.09434%;
  }

  /* line 178, ../sass/jgrid.scss */
  .large-4 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 20.75472%;
  }

  /* line 178, ../sass/jgrid.scss */
  .large-5 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 26.41509%;
  }

  /* line 178, ../sass/jgrid.scss */
  .large-6 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 32.07547%;
  }

  /* line 178, ../sass/jgrid.scss */
  .large-7 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 37.73585%;
  }

  /* line 178, ../sass/jgrid.scss */
  .large-8 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 43.39623%;
  }

  /* line 178, ../sass/jgrid.scss */
  .large-9 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 49.0566%;
  }

  /* line 178, ../sass/jgrid.scss */
  .large-10 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 54.71698%;
  }

  /* line 178, ../sass/jgrid.scss */
  .large-11 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 60.37736%;
  }

  /* line 178, ../sass/jgrid.scss */
  .large-12 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 66.03774%;
  }

  /* line 178, ../sass/jgrid.scss */
  .large-13 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 71.69811%;
  }

  /* line 178, ../sass/jgrid.scss */
  .large-14 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 77.35849%;
  }

  /* line 178, ../sass/jgrid.scss */
  .large-15 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 83.01887%;
  }

  /* line 178, ../sass/jgrid.scss */
  .large-16 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 88.67925%;
  }

  /* line 178, ../sass/jgrid.scss */
  .large-17 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 94.33962%;
  }

  /* line 178, ../sass/jgrid.scss */
  .large-18 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    text-justify: auto;
    font-size: 16px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-1 {
    margin-left: 5.66038%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-1 {
    margin-right: 5.66038%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-2 {
    margin-left: 11.32075%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-2 {
    margin-right: 11.32075%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-3 {
    margin-left: 16.98113%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-3 {
    margin-right: 16.98113%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-4 {
    margin-left: 22.64151%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-4 {
    margin-right: 22.64151%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-5 {
    margin-left: 28.30189%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-5 {
    margin-right: 28.30189%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-6 {
    margin-left: 33.96226%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-6 {
    margin-right: 33.96226%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-7 {
    margin-left: 39.62264%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-7 {
    margin-right: 39.62264%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-8 {
    margin-left: 45.28302%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-8 {
    margin-right: 45.28302%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-9 {
    margin-left: 50.9434%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-9 {
    margin-right: 50.9434%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-10 {
    margin-left: 56.60377%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-10 {
    margin-right: 56.60377%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-11 {
    margin-left: 62.26415%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-11 {
    margin-right: 62.26415%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-12 {
    margin-left: 67.92453%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-12 {
    margin-right: 67.92453%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-13 {
    margin-left: 73.58491%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-13 {
    margin-right: 73.58491%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-14 {
    margin-left: 79.24528%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-14 {
    margin-right: 79.24528%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-15 {
    margin-left: 84.90566%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-15 {
    margin-right: 84.90566%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-16 {
    margin-left: 90.56604%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-16 {
    margin-right: 90.56604%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-17 {
    margin-left: 96.22642%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-17 {
    margin-right: 96.22642%;
  }

  /* line 181, ../sass/jgrid.scss */
  .large-prepend-18 {
    margin-left: 101.88679%;
  }

  /* line 182, ../sass/jgrid.scss */
  .large-append-18 {
    margin-right: 101.88679%;
  }

  /* line 184, ../sass/jgrid.scss */
  .desktop-hidden {
    display: inline-block;
  }
}
